@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  position: relative;
  background-image: linear-gradient(#9ec1a3, #cfe0c3);
}

.main-title {
  margin: 0;
  padding: 15px 10px;
  color: #1f363d;
  text-shadow: -3px 3px #40798c;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.box {
  flex: 1;
  margin: 20px 10px;
}

.title-refresh {
  display: flex;
  margin-bottom: 20px;
}

.box-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
  flex: 2;
  color: #1f363d;
}

.table {
  border: none;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px grey;
  background-color: #cfe0c3;
  width: 100%;
}

.form {
  width: min-content;
  margin: 0 auto;
}

.form input {
  display: block;
  margin: 20px 0;
  float: right;
  clear: both;
  overflow: hidden;
}

.text-inputs {
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 10px grey;
  background-color: #cfe0ce;
  padding: 10px;
}

.text-inputs::placeholder {
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
  color: #1f363d;
}

.submit,
.refresh {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  box-shadow: 0 0 20px grey;
}

.copyright {
  text-align: center;
  font-family: inherit;
  color: #1f363d;
}

.copyright p {
  margin: 0;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .main-title {
    padding: 25px 25px;
    font-size: 2.5rem;
  }

  .main-container {
    flex-direction: inherit;
  }

  .box {
    margin: 20px 20px;
  }
}
